/* Compatible with Leaflet 0.7 */
.leaflet-control-locate a:hover,
.leaflet-control-locate a {
	position: relative;
	opacity: 1;
	margin-top: 5px;
	margin-left:15%;
  font-size: 1.3em;
	background-color: rgba(255, 255, 255, 0);
  
}

.leaflet-control-locate {
	opacity: 1;
	width: 36.5px;
	height:36.5px;
	border: 1px solid #fff;
	border-radius: 100%;
	border-color: rgba(0, 0, 0, 0.7);
	background-color: rgba(255, 255, 255, 1);	
	font-size: 1.4em;

}

.leaflet-control-locate.active a {
  /*color: #2074B6;*/
	color: #FC8428;
	border-radius: 100%;
}
.leaflet-control-locate.active.following a {
  color: #FC8428;
  border-radius: 100%;
}
